Question 1. Explain the key features of Python that make it a popular choice for
programming
Answer: -> Python is known for its readability and simplicity.
-> Python is widely use in almost every factor because it is simple and very easy in reading and
understanding

-> A beginner and pro both can easily learn and understand all the codes at the same time

-> Python is freely available and open source, meaning anyone can use, modify and distribute it
-> Python has massive libraries like 137000, it offers many common tasks so you don’t need to
program from scratch.

-> Interpreter lets you run code line by line that execution helps to quickly identified and for
debug errors that optimize your code effectively

-> Python can be used for web development, data science artificial intelligence, machine
learning, automation and more

-> Python is available on most platforms including windows macOS and Linux which means you can write and run python code anywhere

-> Python has a massive community of developers which means there are plenty of tutorials and
libraries available to help you to solve problem.

Question 2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program

-> Predefined keywords are also known as reserved words
-> That predefined keywords are built in words that have special meanings and are part of the language’s syntax.

-> This keyword cannot use as a variable name, function names or identifiers because they
provide basic pre-defined or you can say built in functions in python code structure

In [ ]:
"Examples of python keywords and their usage"

'Examples of python keywords and their usage'

In [ ]:
"-> Control flow Keywords <-"

'-> Control flow Keywords <-'

In [ ]:
# If, elif, else: used for condition statements

In [ ]:
x = 12
if x > 6 :
  print("x is greater than 6")
else:
  print ("x is 6 or less")

x is greater than 6

In [ ]:
# while: used for loops

In [ ]:
i = 1
n = 5
while i <= 9 :
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9

In [ ]:
# For : used for loops

In [ ]:
for i in range(1,10) :
    print (i) # Indented with 4 spaces

1
2
3
4
5
6
7
8
9

In [ ]:
# Break used to control loop execution

In [ ]:
i = 1
n = 5
while i <= 9 :
    print(i) # Indented with 4 spaces
    i+=1 # Indented with 4 spaces
    if i == 4 :
        break # Indented with 4 spaces

1
2
3

In [ ]:
# continue used to control loop execution

In [ ]:
for i in range(1,10):
    if i == 4 :
        continue
    print(i)

1
2
3
5
6
7
8
9

In [ ]:
'''-> Variable declaration and value assignment keywords '''

'-> Variable declaration and value assignment keywords '

In [ ]:
'''
Python does not require explicit declaration. You just assign a value to a
variable name:

X = 10 (integer)
Name = “Gitanjali” (string)
Price = 99.99 (float)
Is active = True (Boolean)
'''

'\nPython does not require explicit declaration. You just assign a value to a\nvariable name:\n\nX = 10 (integer)\nName = “Gitanjali” (string)\nPrice = 99.99 (float)\nIs active = True (Boolean)\n'

In [ ]:
''' -> Function definition and return keywords '''

' -> Function definition and return keywords '

In [ ]:
# In python you define a function using the def keyword, and return a value using the return keyword

In [ ]:
# Def Keyword

In [ ]:
print("Hello my name is Gitanjali")

Hello my name is Gitanjali

In [ ]:
# Return Keyword

In [ ]:
def add(a, b):
    return a + b  # Indent this line with 4 spaces to include it within the function definition

add(7, 5)

12

Question 3. Compare and contrast mutable and immutable objects in Python with examples

In [ ]:
'''
-> Definition:
-- Mutable objects can be changed after creation
-- Immutable objects cannot be changed after creation
'''

'\n-> Definition:\n-- Mutable objects can be changed after creation\n-- Immutable objects cannot be changed after creation\n'

In [ ]:
# Examples
# Mutable Objects : List, dict, set
# Immutable Objects : Int, float, str, tuple, bool

In [ ]:
''' -> Mutable (List) <- '''

' -> Mutable (List) <- '

In [ ]:
a = [1, 2, 3, 4,]
a[0] = 65
print(a)

[65, 2, 3, 4]

In [ ]:
''' -> Immutable (string) <- '''

' -> Immutable (string) <- '

In [ ]:
a = "Gitanjali"
# a[0] = "B" this will throw an error
a = "Gitanjali"
print(a)

Gitanjali

Question 4. Discuss the different types of operators in Python and provide examples of
how they are used

In [1]:
''' Arithmetic operator '''

' Arithmetic operator '

In [2]:
# Used for basic mathematical operations

'''


Operator  Description       Example  Result
  +          Addition       2 + 3       5
  -          Subtraction       5 – 2        3
  *          Multiplication   4 * 2       8
  /          Division       10 / 2       5.0
  //      Floor division   7 // 2       3
  %          Modulus           7 % 3       1
        Exponentiation   2  3       8


'''

'\n\n\nOperator  Description       Example  Result\n  +          Addition       2 + 3       5\n  -          Subtraction       5 – 2        3\n  *          Multiplication   4 * 2       8\n  /          Division       10 / 2       5.0\n  //      Floor division   7 // 2       3\n  %          Modulus           7 % 3       1\n        Exponentiation   2  3       8\n\n\n'

In [3]:
''' Comparison operator  '''

' Comparison operator  '

In [4]:
# Used to compare values

'''

Operator  Description       Example  Result
==          Equal to        3 == 3       True
!=          Not equal to     4 != 5       True
>          Greater Than     5 > 2       True
<          Less than       3 < 4       True
>=         Greater or equal 5 >= 5       True
<=          Less or equal   2 <= 3       True


'''

'\n\nOperator  Description       Example  Result\n==          Equal to        3 == 3       True\n!=          Not equal to     4 != 5       True\n>          Greater Than     5 > 2       True\n<          Less than       3 < 4       True\n>=         Greater or equal 5 >= 5       True\n<=          Less or equal   2 <= 3       True\n\n\n'

In [5]:
''' Logical operator  '''

' Logical operator  '

In [6]:
# Used to combine conditional statement

'''

          and                       or                   not
  Description   Result    Description  Result   Description  Result
True And True   True  True And True   True  True And True  False
True and false   False  True and false   True  True and false  False
False and True   False  False and True   True  False and True  False
False and False   False  False and False   False  False and False  True


'''

'\n\n          and                       or                   not\n  Description   Result    Description  Result   Description  Result\nTrue And True   True  True And True   True  True And True  False\nTrue and false   False  True and false   True  True and false  False\nFalse and True   False  False and True   True  False and True  False\nFalse and False   False  False and False   False  False and False  True\n\n\n'

In [7]:
''' Assignment operators  '''

' Assignment operators  '

In [8]:
# Used to assign values

'''

Operator  Description        Example
  =           Assign              X = 5
  +=  Add and assign          X += 3
  -=  Subtract and assign    X -= 2
  *=  Multiply and assign      X *= 2
  /=  Divide and assign      X /= 2
  //=  Floor divide and assign  X //= 2
  %=  Modulus and assign     X %= 2
  =  Power and assign      X = 3


'''

'\n\nOperator  Description        Example\n  =           Assign              X = 5\n  +=  Add and assign          X += 3\n  -=  Subtract and assign    X -= 2\n  *=  Multiply and assign      X *= 2\n  /=  Divide and assign      X /= 2\n  //=  Floor divide and assign  X //= 2\n  %=  Modulus and assign     X %= 2\n  =  Power and assign      X = 3\n\n\n'

In [9]:
''' Identify operators  '''

' Identify operators  '

In [10]:
# Check if Two variables reference the same object

'''

Operator  Example             Result
  Is     X is y        True if same object
Is not     X is not y    Trues if not same object


'''

'\n\nOperator  Example             Result\n  Is     X is y        True if same object\nIs not     X is not y    Trues if not same object\n\n\n'

In [11]:
''' Membership operators  '''

' Membership operators  '

In [12]:
'''

Operator  Example           Result
  in      ‘a’ in ‘mobile’       True
  not in  ‘z’ not in ‘mobile’  True


'''

'\n\nOperator  Example           Result\n  in      ‘a’ in ‘mobile’       True\n  not in  ‘z’ not in ‘mobile’  True\n\n\n'

Question 5. Explain the concept of type casting in Python with examples

In [13]:
'''
->    Type casting is the process of converting one data type into another.
->   In python, its often called type conversion, and it’s done using built in functions.
'''

'\n->    Type casting is the process of converting one data type into another.\n->   In python, its often called type conversion, and it’s done using built in functions.\n'

In [14]:
''' Common Type casting Functions '''

' Common Type casting Functions '

In [15]:
'''

Function  Converts to
  int()   Integer
  float()  Floating point
  str()      String
  bool()  Boolean
  list()  List
  tuple()  Tuple


'''

'\n\nFunction  Converts to\n  int()   Integer\n  float()  Floating point\n  str()      String\n  bool()  Boolean\n  list()  List\n  tuple()  Tuple\n\n\n'

In [16]:
''' Examples '''

' Examples '

In [23]:
# String to Integer

x = "165"
y = int(x)
print(y + 15)

180

In [24]:
# Float to Integer

f = 3.1
i = int(f)
print(i)


#output : 3 (Decimal part is removed)

3

In [25]:
# Integer to string

x = 45
y = str(x)
print(y + " is a number")

45 is a number

In [20]:
# Boolean to integer

print(int(True))
print(int(False))

1
0

In [26]:
# List to Tuple

lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

Question 6. How do conditional statements work in Python? Illustrate with examples

In [27]:
'''
->  Condition statements let your problem make decisions and execute certain code only if condition is true
->  Keywords Used:
If, elif, else, nested condition, using logical operator
'''

'\n->  Condition statements let your problem make decisions and execute certain code only if condition is true\n->  Keywords Used:\nIf, elif, else, nested condition, using logical operator\n'

In [28]:
# If statement

x = 5
if x > 5:
    print("x is greater than 5")

In [29]:
# Elif statement

x = 3
if x > 5:
     print("x is greater than 5")
else:
   print("x is 5 or less")

x is 5 or less

In [30]:
# Else statement

x = 5
if x > 5:
     print("x is greater than 5")
elif x == 5:
      print("x is equal to 5")
else:
     print("x is less than 5")

x is equal to 5

In [32]:
# Nested if Condition

x = 10
# Nested if Condition

x = 10
if x > 5:
      if x < 15:
              print("x is between 5 and 15")

x is between 5 and 15

In [33]:
# Using logical operators

x = 7
if x > 5 and x < 10:
          print("x is between 5 and 10")

x is between 5 and 10

Question 7. Describe the different types of loops in Python and their use cases with examples.

In [34]:
'''
->  Python provides three main types of loops, each useful for different situations:
1.  for loop
2.  while loop
3.  Nested loops
'''

'\n->  Python provides three main types of loops, each useful for different situations:\n1.  for loop\n2.  while loop\n3.  Nested loops\n'

In [36]:
# for loop

animals = ["cat", "dog", "cow", "tiger", "lion"]
for animal in animals :
    print(animal)

cat
dog
cow
tiger
lion

In [37]:
# while loop

count = 1
while count <= 5:
    print(count)
    count+=1

1
2
3
4
5

In [39]:
# Nested loops

for i in range(1, 5) :
    for j in range(1, 5):
        print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4